/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 @import 'vars';
 @import 'mixins';
 @import 'icons';

 * {
    -ms-touch-action: none;
    touch-action: none;
 }

 li {
    list-style:none;
 }
 ul {
    padding:0;
 }
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    box-sizing:border-box;
}
html {
    height:100%;
    overflow:hidden;
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    /*background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );*/
    background-attachment:fixed;

    font-family: $clear-sans-regular,'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:62.5%;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}
/*
body.main-menu {
    background: #309a92;

    background: -webkit-linear-gradient(top,  #309a92 0%,#88c4c6 27%,#feacc2 63%,#ffebd2 100%);
    background: linear-gradient(to bottom,  #309a92 0%,#88c4c6 27%,#feacc2 63%,#ffebd2 100%);
}
body.game-screen {
    background-color:#333;
}
*/
body {
    background-color:#333;
}

/* Portrait layout (default) */
.app {
    padding:0 5%;
    height:100%;
    position:relative;
    opacity:1;
    -webkit-transition: 1s opacity ease,0.5s -webkit-transform ease;
    transition: 1s opacity ease,0.5s -webkit-transform ease;
}
.app.hide {
    opacity:0;
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
}
.app.started {
    -webkit-transition: 0s opacity ease,0s -webkit-transform ease;
    transition: 0s opacity ease,0s -webkit-transform ease;
}

.grid {
    position:relative;

    margin:0 auto;

}


h1 {
    font-size:23vw;
    font-family:$righteous-regular;
    color:$title;
    font-weight:normal;
    margin:0;
    padding:22px 0 0 0;
    text-align:center;
    text-transform:uppercase;

    //text-shadow:1px 1px 1px rgba(0,0,0,1);
    //-webkit-filter:drop-shadow(0 0 10px rgba(255,255,255,0.7));
    //filter:drop-shadow(0 0 10px rgba(255,255,255,0.7));

    //-webkit-text-stroke: 10px rgba(255,255,255,0.5);
}

/* prepare the selectors to add a stroke to */
h1 {
  position: relative;
  background: transparent;
  z-index: 0;
}
/* add a single stroke */
h1:before {
  content: 'WORDIO';
  position: absolute;
  -webkit-text-stroke:1.2vw rgba(255,255,255,0.8);
  left: 0;
  right:0;
  z-index: -1;


}

h2 {
    text-align:center;
    color:white;
    text-transform:uppercase;
    text-shadow: 0 0 2px rgba(0,0,0,1);

    font-size:3em;

    margin:0;
    padding:70px 0 25px 0;
}
h3 {
    text-shadow: 0 0 2px rgba(0,0,0,1);
}



.menu {
    text-align:center;
    margin-top:30px;

}
.settings-menu {
    margin-top:60px;
}
.standard-p {
    color:white;
    font-size:1.5em;
}
.high-score {
    color:white;
    font-size:1.9em;
    text-shadow: 0 0 2px rgba(0,0,0,1);
    //text-transform: uppercase;
    margin:15px 0 15px 0;
    text-align: center;
}
.play-btn {

    display:inline-block;
    text-indent:9999px;
    position:relative;
    width:28vw;
    height:28vw;
    -webkit-animation:floating 3s ease-in-out infinite;
    animation:floating 3s ease-in-out infinite;
    &:after {
        content:'';
        width:0;
        height:0;
        border-top:8vw solid transparent;
        border-bottom:8vw solid transparent;
        border-left:12vw solid rgba(0,0,0,0.5);

        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:15%;
        margin:auto;

        z-index: 2;
    }
    &:before {
        content:'';
        border-radius:50%;
        background-color:rgba(255,255,255,0.5);
        width:100%;
        height:100%;
        position:absolute;
        left:0;

        z-index: 0;
        //-webkit-filter:blur(15px);
        box-shadow:0 0 20px rgba(0,0,0,0.02);
    }
}
li:first-child .btn {
    margin-top:0;
}
.btn {
    color:white;
    display:inline-block;
    border:2px solid white;
    text-align:center;
    text-decoration:none;
    padding:14px;
    font-size:1.5em;
    width:60%;
    text-transform:uppercase;
    margin-top:25px;
    text-shadow: 0 0 2px rgba(0,0,0,1);
    background:rgba(255,255,255,0.1);

    box-shadow:0 2px 5px 1px rgba(0,0,0,0.2);


}
.back {
    position:absolute;
    text-decoration:none;
    top:0;
    left:5%;
    border:2px solid white;
    padding:0.5em 1.4em 0.5em 1.2em;
    background:rgba(255,255,255,0.1);
    overflow:hidden;
    margin-top:25px;
    &:before {
        //position:absolute;
        color:white;
        font-size:2.6em;

    }
    span {
        position:absolute;
        left:-999px;
    }
}
.btn:active {
    background:rgba(255,255,255,0.3);
}
.grid {
    overflow:hidden;

}
.game-overlay,
.grid-overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:$z-grid-overlay;
    background-color:rgba(0,0,0,0.5);
    opacity:0;
    display:none;
    -webkit-transition:0.3s opacity ease;
}
.game-overlay {
    z-index:$z-game-overlay;
}

.tile {
    cursor:move;
    border:1px solid rgba(0,0,0,0.2);
    background-color:#FFF;
    text-align:center;

    position: absolute;
    -webkit-transform-style: preserve-3d;
    -webkit-transition:opacity 0.6s ease,-webkit-transform 0.2s ease;
    transform-style: preserve-3d;
    transition:opacity 0.6s ease,transform 0.2s ease;
    font-family:$clear-sans-regular;

    color:rgba(0,0,0,0.9);
    opacity:0.85;

    -webkit-perspective: 1000px;
    perspective: 1000px;

    //text-shadow:0 0 2px rgba(255,255,255,0.9);

    //-webkit-transform-origin: center bottom;
    //transform-origin: center bottom;


}
.tile[data-points="group1"] {
    @include slight-radial-gradient(#F2E7C9);
    //@include slight-radial-gradient(#3FC380);
    &:after {
        @include tile-point-value('1');
    }
}
.tile[data-points="group2"] {
    @include slight-radial-gradient(#AFECEF);

    //@include slight-radial-gradient(#F5D76E);
    &:after {
        @include tile-point-value('2');
    }
}
.tile[data-points="group3"] {
    @include slight-radial-gradient(#F4C6A6);
    //@include slight-radial-gradient(#86E2D5);
    &:after {
        @include tile-point-value('3');
    }
}
.tile[data-points="group4"] {
    @include slight-radial-gradient(#A3D6B4);
    //@include slight-radial-gradient(#BE90D4);
    &:after {
        @include tile-point-value('4');
    }
}
.tile[data-points="group5"] {
    @include slight-radial-gradient(#F2BBC1);
    //@include slight-radial-gradient(#E26A6A);
    &:after {
        @include tile-point-value('5');
    }
}
.tile[data-points="group6"] {
    @include slight-radial-gradient(#DFC5FC);
    //@include slight-radial-gradient(#D2527F);
    &:after {
        @include tile-point-value('6');
    }
}
.tile.top {

    z-index:$z-grid-overlay;
}
.tile.mover {
    -webkit-transition:top 0.2s ease,left 0.2s ease,-webkit-transform 1.7s ease,-webkit-filter 0.5s ease;
    transition:top 0.2s ease,left 0.2s ease,transform 1.7s ease,filter 0.5s ease,-webkit-filter 0.5s ease;
    opacity:1;

}

.shift .tile.mover {
    //-webkit-transition:top 0.4s cubic-bezier(0.955, 1.650, 0.395, 0.670);
    //transition:top 0.4s cubic-bezier(0.955, 1.650, 0.395, 0.670);

    -webkit-transition:top 0.4s cubic-bezier(0.820, 1.640, 0.220, 0.690);
    transition:top 0.4s cubic-bezier(0.820, 1.640, 0.220, 0.690);

}
.grid .tile.shrink {

    background:none;
    background-image:none;
    color:transparent;
    border:0 none;
}

.tile.selectable-tile,
.tile.tmp-bg {
    z-index:$z-grid-highlight;
}
.tile.selectable-tile {

    cursor:pointer;
}
.tile:before {

    background-image:url('../img/puff.png');
    background-position:0 0;
    background-size:auto 100%;
    content: '';
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;


}
.tile.shrink:before {

    //background-image:url('../img/puff-animated.svg');
    -webkit-animation:puff 0.3s steps(5,end) forwards 0.1s;
    animation:puff 0.3s steps(5,end) forwards 0.1s;
}


.tile.random {
    &:after {
        content:'?';
    }
}

.paused .tile {
    //-webkit-transform: rotate3d(1,0,0,90deg) !important;
    //transform: rotate3d(1,0,0,90deg) !important;
    //filter:blur(5px);
    //-webkit-filter:blur(5px);

}
.paused.grid {
    overflow:visible;
}
.top-bar {
    text-align:center;
    font-size:2.3em;
    padding:10px;
    height:65px;
    color:#FFF;
    position:relative;
    margin:0 auto;
    text-shadow: 0 0 2px rgba(0,0,0,1);
}
.bottom-panel {
    padding-top:14px;
    text-shadow: 0 0 2px rgba(0,0,0,1);
    position:relative;
    margin:0 auto;
    color:white;
    .bonuses {
        text-align:center;
        font-size: 1.3em;
    }
    .bonuses .bonus-item {
        display: inline-block;
        padding:16px 16px 0 16px;
        position:relative;
    }
    .bonuses .points {
        border:2px solid white;
        border-radius:50%;
        font-size:1.5em;
        width:40px;
        height:40px;
        margin:auto;
        line-height: 32px;
    }
    .bonuses span {
        display:block;
        //margin-top:5px;
        text-transform: uppercase;
    }
    .bonuses .char-word {

        position:absolute;

    }
    .bonuses .longest-word .char-word {
        transform:rotate(-54deg);
        top:76px;
        left:73px;

    }
    .bonuses .chain-word .char-word {
        transform:rotate(-63deg);
        top:66px;
        left:78px;
    }
    .bonuses .crossover-word .char-word {
        transform:rotate(-53deg);
        top:77px;
        left:73px;
    }
    .bonuses .char {
        position:absolute;
        height:100px;
        width:9px;
        bottom:0;
    }

    $z:18;
    @for $i from 1 to 11 {
        .char#{$i} {
            transform:rotate(#{$z}deg);
        }
        $z:$z+18;
    }
}
.time {
    position:absolute;
    left:0;
    top:15px;

}
.final-seconds {
    animation:time-running-out 0.3s ease-in-out infinite;
    -webkit-animation:time-running-out 0.3s ease-in-out infinite;
}
.current-score {
    position:absolute;
    border:2px solid white;
    border-radius:50%;
    right:0px;
    top:5px;
    width:55px;
    height:55px;
    line-height:48px;
    text-align: center;
    &.large-score {
        font-size:0.85em;
    }
    &.very-large-score {
      font-size:0.65em;
    }
}
.increase-points {
    animation:point-increase 0.4s ease-in-out 1;
    -webkit-animation:point-increase 0.4s ease-in-out 1;
}

.found-word {
    margin-top:5px;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    opacity:0;
    -webkit-transition:none;
    transition:none;
    span {
        font-size:0.7em;
    }
}
.found-word.show-word {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity:1;

    -webkit-transition:opacity 0.6s ease,-webkit-transform 0.6s ease;
    transition:opacity 0.6s ease,transform 0.6s ease;

}

.found-word.smaller {
    font-size:0.7em;
}
.found-word a {
    border:2px solid #fff;
    color:#fff;
    text-decoration:none;
    display: inline-block;
    padding:4px 25px 4px 10px;
    background:url('../img/search.min.svg') 96% center no-repeat;
    background-size:16px 16px;
    font-size:0.9em;
}
.bg {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;


    div {
        width:50%;
        height:50%;
        position:absolute;
        left:0;

    }
    div:after {
        content:'';
        left:100%;
        top:0;
        position:absolute;
        width:100%;
        height:100%;
    }
    div,
    div:after {
        background-position:0 0,0 100%;
        background-size:100% 50%,100% 50%;
        background-repeat:no-repeat, no-repeat;
    }
    .bg1 {
        background-image:linear-gradient(to right, rgba(255,255,255,0.05) 50%,rgba(255,255,255,0.1) 50%),linear-gradient(to right, rgba(255,255,255,0.08) 50%,rgba(255,255,255,0.02) 50%);
        &:after {
            background-image:linear-gradient(to right, rgba(255,255,255,0.02) 50%,rgba(255,255,255,0.06) 50%),linear-gradient(to right, rgba(255,255,255,0.09) 50%,rgba(255,255,255,0.1) 50%);
        }
    }
    .bg2 {
        top:50%;
        background-image:linear-gradient(to right, rgba(255,255,255,0.09) 50%,rgba(255,255,255,0.07) 50%),linear-gradient(to right, rgba(255,255,255,0.03) 50%,rgba(255,255,255,0.1) 50%);
        &:after {
        background-image:linear-gradient(to right, rgba(255,255,255,0.08) 50%,rgba(255,255,255,0.04) 50%),linear-gradient(to right, rgba(255,255,255,0.03) 50%,rgba(255,255,255,0.01) 50%);
        }
    }
}
.grid-message {
    position:absolute;
    z-index:$z-grid-message;
    color:white;
    opacity:1;

    transform:scale(1);
    -webkit-transform:scale(1);

    -webkit-transition:top 0.9s linear,opacity 0.2s ease,-webkit-transform 0.2s ease;
    transition:top 0.9s linear,opacity 0.2s ease,transform 0.2s ease;

    .bonus {
        border-radius:50%;
        text-align:center;
        position:absolute;
        right:-0.9em;
        top:-0.7em;
        padding:0.5em;
        background:red;
    }

}
.grid-message-points {
    border-radius:50%;
    background-color:red;

    border:2px solid white;
    text-align:center;

}
.grid-message-pair,
.grid-message-letter-bonus,
.grid-message-chain {
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.3);
    border-radius:50%;
    border:3px solid white;
    background:rgba(0,0,0,0.6);
    .text {
        overflow: hidden;
        text-align:center;
        padding:0.4em;
        text-transform: uppercase;
        span {
            font-size:4em;
            float:left;
            line-height: 1;
            padding:0.1em 0 0.2em 0.3em;
        }
        small {
            float:left;
            font-size: 1.2em;
            padding:0.8em 0.6em 0.1em 0.4em;
        }
    }
}
.grid-message-pair {
    .text {
        font-size:2.1em;
    }
}
.grid-message.hidden {
    opacity:0;

    transform:scale(0.6);
    -webkit-transform:scale(0.6);

    -webkit-transition:top 0s ease,opacity 0.2s ease,-webkit-transform 0.2s ease;
    transition:top 0s ease,opacity 0.2s ease,transform 0.2s ease;
}

.how-to-play {
    -webkit-transition:opacity 1s ease,top 0.8s ease;
    transition:opacity 1s ease,top 0.8s ease;
    opacity:0;
    position:absolute;
    z-index:$z-grid-message;



    &.icon {
        color:white;
        text-shadow:0 0 20px rgba(0,0,0,0.9);
    }
    &.north-west {
        top:55px;
        -webkit-transform:rotate(-10deg);
        transform:rotate(-10deg);


        -webkit-animation:float-north-west 3s ease-in-out infinite;
        animation:float-north-west 3s ease-in-out infinite;
    }
    &.north-east {
        top:55px;
        -webkit-transform:rotate(10deg);
        transform:rotate(10deg);


        -webkit-animation:float-north-east 3s ease-in-out infinite;
        animation:float-north-east 3s ease-in-out infinite;
    }
    &.htp-next-btn,
    &.htp-play-btn {
        text-align:center;
        width:100%;
        .btn {
            background-color:$title;
        }
    }
    &.htp-next-btn {
        z-index: $z-grid-message+1;
    }
    &.htp-instruction1,
    &.htp-instruction2 {
        top:110px;
    }
    &.htp-tile-switch,
    &.htp-score,
    &.htp-time,
    &.htp-instruction1,
    &.htp-instruction2 {
        background:white;
        border:5px solid $title;
        box-shadow:0 0 15px 4px rgba(0,0,0,0.3);
        padding:6px;
    }

    &.htp-score,
    &.htp-time {
        top:110px;

    }
    &.htp-score {
        text-align:right;
    }
    &.htp-instruction1,
    &.htp-instruction2 {
        text-align: center;
    }

    &.htp-tile-switch {
        div {

            text-align:center;
            border:2px solid #CCC;
            position:absolute;
            top:0;
            bottom:0;
            margin:auto 0;
        }
        .letter1 {

            left:25%;
            z-index: $z-grid-message+1;
            @include slight-radial-gradient(#F2E7C9);
        }
        .letter2 {

            left:50%;
            opacity:0;
            @include slight-radial-gradient(#F4C6A6);
        }
        .mystery {
            background:white;

            left:50%;
            &:after {
                content:'?';
            }
        }
        .letter1.ready {
            -webkit-animation:tile-demo-right 4s ease-in-out infinite;
            animation:tile-demo-right 4s ease-in-out infinite;
        }
        .letter2.ready {
            -webkit-animation:tile-demo-show 4s ease-in-out infinite;
            animation:tile-demo-show 4s ease-in-out infinite;
        }
        .mystery.ready {
            -webkit-animation:tile-demo-left 4s ease-in-out infinite;
            animation:tile-demo-left 4s ease-in-out infinite;
        }


    }

}



.choose-tile {
    right:0;
    top:14px;
    color:white;
    display: inline-block;
    width:40px;
    height:40px;
    text-align:center;
    background:rgba(255,255,255,0.1);
    border:1px solid white;
    position:absolute;
    font-size:2.4em;
    text-decoration:none;
    font-family:$clear-sans-regular;
    .choices-remaining {
        //content:'20';
        border-radius:50%;
        left:-7px;
        top:-7px;
        width:20px;
        height:20px;
        text-align:center;
        background:white;
        text-shadow:none;
        color:black;
        font-size: 0.5em;
        position:absolute;
        line-height:19px;
    }
    &:active {
        background:rgba(255,255,255,0.3);
    }
}
.tile-selection {
    background:rgba(0,0,0,0.5);
    position:absolute;
    margin:auto;
    top:20%;
    right:0;
    padding:10px 0 10px 0;
    left:0;
    display:none;
    z-index: $z-grid-message;

    width:70%;

    font-family:$clear-sans-regular;

    text-align: center;

}
.tile-selection div {
    background-color:white;
    width:1.5em;
    height:1.5em;
    text-align:center;
    font-size:2em;
    line-height: 1.5em;
    display:inline-block;
    border:1px solid rgba(0,0,0,0.5);
    cursor:pointer;
}
.pause-btn {
    top:14px;
    left:0;
    border-radius:50%;
    display: inline-block;
    border:1px solid white;
    width:40px;
    height:40px;
    position:absolute;
    text-indent:-999px;
    overflow:hidden;
    z-index:$z-game-button;
    background:rgba(255,255,255,0.1);

    &:before,
    &:after {
        position:absolute;
        width:5px;
        height:17px;
        background-color:white;
        top:10px;
        content: '';
    }
    &:before {
        left:11px;
    }
    &:after {
        right:11px;
    }
    &:active {
        background:rgba(255,255,255,0.3);
    }
}
.in-game-menu-btn {
  display:none;
  width:30px;
  height:30px;
  text-indent:-100px;
  overflow: hidden;
  position: relative;
  &:before {
    position: absolute;
    left:0;
    content:'';
    width:30px;
    height:5px;
    background:white;
    box-shadow:0 10px 0 white,0 20px 0 white;

  }
}
.endless-mode {
  .time {
    display:none;
  }
  .in-game-menu-btn {
    display:block;
  }
  .pause-btn {
    display: none;
  }
}
.in-game-menu,
.game-over,
.pause-menu {
    z-index: $z-pause-menu;
    position:absolute;
    width:80%;
    top:17%;
    right:0;
    left:0;
    display: none;
    color:white;
    background:rgba(0,0,0,0.6);
    opacity:0;
    margin:auto;
    padding:10px;

    box-shadow:0 0 10px 2px rgba(0,0,0,0.3);
    .btn {
        width:75%;
    }
}
.in-game-menu div,
.pause-menu div {
    padding-bottom:10px;
    border:2px solid white;
    h3 {
        text-transform:uppercase;
        text-align:center;
        font-size:1.6em;
    }
    li {
        text-align:center;
    }

    .btn {
        width:70%;
    }
}
.game-over {
    top:12%;
    .inner-container {

        border:2px solid white;
    }
    .score {
        margin:10px 0 1px 0;
        text-shadow: 0 0 2px rgba(0,0,0,1);
        font-size: 4em;
        text-align:center;
        p {
            margin:0;
        }
        strong {
            //display:inline-block;
            //padding:0 10px;
            //display:block;
        }
        small {
            font-size:0.3em;
            text-transform: uppercase;
            //display: block;

            //display: inline-block;
            //padding:0 10px;
        }
    }
    .new-high-score {
        small {
            font-size: 0.6em;

        }
        .final-score {
            -webkit-animation:pulse 1.9s ease-in-out infinite;
            animation:pulse 1.9s ease-in-out infinite;
        }
    }
    .stats {
        text-shadow: 0 0 2px rgba(0,0,0,1);
        width:75%;
        margin:auto;
        font-size:1.6em;
        padding-bottom:5px;
        strong {
            font-size:1.3em;
            text-align: right;
            width:20%;
        }
        strong,span {
            display: inline-block;

        }
        span {
            width:80%;
        }
    }
}
.buttons {
    text-align:center;
}
.social {
    padding:7px 0 5px 0;
    text-align:center;
    li {
        display: inline;
        padding: 0 9px;
    }
    a {
        border:1px solid white;
        display:inline-block;
        border-radius:50%;
        color:white;
        text-decoration:none;
        overflow:hidden;
        small {
            position:absolute;
            left:-500px;
        }
        font-size:23px;
        padding:9px;
    }
    .facebook {
        background-color:$facebook;
        &:active {
            background-color:darken($facebook,6%);
        }
    }
    .twitter {
        background-color:$twitter;
        &:active {
            background-color:darken($twitter,6%);
        }
    }
}

.sparkle {
    position:absolute;
    z-index:$z-sparkle;
}
.small-sparkle1 {
    -webkit-transform:scale(0.7);
    transform:scale(0.7);
}
.small-sparkle2 {
    -webkit-transform:scale(0.6);
    transform:scale(0.6);
}
.visible {
    opacity:1
}
//this is the smoke puff when the tile disapears
@-webkit-keyframes puff {
    to {
        background-position:100% 0;
    }
}
@keyframes puff {
    to {
        background-position:100% 0;
    }
}

@-webkit-keyframes floating {
    0% {
        -webkit-transform:translate(0,0);
    }
    50% {
        -webkit-transform:translate(0,10px);
    }
    100% {
        -webkit-transform:translate(0,0);
    }
}
@keyframes floating {
    0% {
       transform:translate(0,0);
    }
    50% {
        transform:translate(0,10px);
    }
    100% {
        transform:translate(0,0);
    }
}
@keyframes float-north-west {
    0% {
       transform:rotate(-10deg) translate(0,0);
    }
    50% {
        transform:rotate(-10deg) translate(-1px,-10px);
    }
    100% {
        transform:rotate(-10deg) translate(0,0);
    }
}
@-webkit-keyframes float-north-west {
    0% {
       -webkit-transform:rotate(-10deg) translate(0,0);
    }
    50% {
        -webkit-transform:rotate(-10deg) translate(-1px,-10px);
    }
    100% {
        -webkit-transform:rotate(-10deg) translate(0,0);
    }
}
@keyframes float-north-east {
    0% {
       transform:rotate(10deg) translate(0,0);
    }
    50% {
        transform:rotate(10deg) translate(1px,10px);
    }
    100% {
        transform:rotate(10deg) translate(0,0);
    }
}
@-webkit-keyframes float-north-east {
    0% {
       -webkit-transform:rotate(10deg) translate(0,0);
    }
    50% {
        -webkit-transform:rotate(10deg) translate(1px,10px);
    }
    100% {
        -webkit-transform:rotate(10deg) translate(0,0);
    }
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        text-shadow:0 0 0 rgba(255,255,255,0);
    }
    50% {
        -webkit-transform: scale(1.5);
        text-shadow:0 0 8px rgba(255,255,255,0.7);
    }
    100% {
        -webkit-transform: scale(1);
        text-shadow:0 0 0 rgba(255,255,255,0);
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
        text-shadow:0 0 0 rgba(255,255,255,0);
    }
    50% {
        transform: scale(1.5);
        text-shadow:0 0 8px rgba(255,255,255,0.7);
    }
    100% {
        transform: scale(1);
        text-shadow:0 0 0 rgba(255,255,255,0);
    }
}
@-webkit-keyframes point-increase {
    0% {
        -webkit-transform: scale(1);
        text-shadow:0 0 0 rgba(255,255,255,0);
    }
    50% {
        -webkit-transform: scale(1.3);
        text-shadow:0 0 15px rgba(255,255,255,0.9);
    }
    100% {
        -webkit-transform: scale(1);
        text-shadow:0 0 0 rgba(255,255,255,0);
    }
}
@keyframes point-increase {
    0% {
        transform: scale(1);
        text-shadow:0 0 0 rgba(255,255,255,0);
    }
    50% {
        transform: scale(1.3);
        text-shadow:0 0 15px rgba(255,255,255,0.9);
    }
    100% {
        transform: scale(1);
        text-shadow:0 0 0 rgba(255,255,255,0);
    }
}
@-webkit-keyframes time-running-out {
    0% {
        -webkit-transform: scale(1);

    }
    50% {
        -webkit-transform: scale(1.15);

    }
    100% {
        -webkit-transform: scale(1);

    }
}
@keyframes time-running-out {
    0% {
        transform: scale(1);

    }
    50% {
        transform: scale(1.15);

    }
    100% {
        transform: scale(1);

    }
}



@-webkit-keyframes tile-demo-left {
    0% {
        left:50%;
        opacity:1;
    }
    23% {
        opacity:1;
    }
    26% {
        opacity: 0;
    }
    50%,100% {
        left:25%;
        opacity:0;
    }
}
@-webkit-keyframes tile-demo-show {
    0% {
        left:50%;
        opacity:0;
    }
    23% {
        opacity:0;
    }
    26% {
        opacity:1;
    }
    50%,100% {
        left:25%;
        opacity:1;
    }
}
@-webkit-keyframes tile-demo-right {
    0% {
        left:25%;

    }
    50%,100% {
        left:50%;
    }
}
@keyframes tile-demo-left {
    0% {
        left:50%;
        opacity:1;
    }
    23% {
        opacity:1;
    }
    26% {
        opacity: 0;
    }
    50%,100% {
        left:25%;
        opacity:0;
    }
}
@keyframes tile-demo-show {
    0% {
        left:50%;
        opacity:0;
    }
    23% {
        opacity:0;
    }
    26% {
        opacity:1;
    }
    50%,100% {
        left:25%;
        opacity:1;
    }
}
@keyframes tile-demo-right {
    0% {
        left:25%;

    }
    50%,100% {
        left:50%;
    }
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) {
    .app {

    }
    h1 {
        font-size:15vw;
    }

}
@media screen and (max-width: 360px) {
    .bottom-panel .bonuses .bonus-item {
        padding:16px 12px 0 12px;
    }
    .bottom-panel .bonuses .points {
        width:35px;
        height:35px;
        font-size:1.35em;
        border:1px solid white;
        line-height:31px;
    }
}
@media screen and (max-width: 480px) {
    .back {
        padding:0.3em 1em 0.4em 1em;
        &:before {
            font-size: 2.3em;
        }
    }
}
@media screen and (min-width: 480px) {
    //Tablets
    .top-bar {
        height:90px;
        font-size:2.8em;
    }
    .how-to-play {
        &.north-east,
        &.north-west {
            top:80px;
        }
        &.htp-score,
        &.htp-time {
            top:145px;
        }
    }
    .htp-instruction1,
    .htp-instruction2 {
        top:130px;
    }
    .btn {
        font-size:1.7em;
    }
    .current-score {
        width:67px;
        height:67px;
        top:11px;
        line-height:60px;
    }
    .time {
        top:24px;
    }
    .found-word {
        margin-top:15px;
        -webkit-transform: translateY(-57px);
        transform: translateY(-57px);
    }
}
@media screen and (max-height: 480px) {
    .high-score {
        margin:5px 0 5px 0;

    }
    .menu {
        margin-top:25px;
    }
    .choose-tile,
    .pause-btn {
        top:10px;
    }

    .game-over {
        top:4%;
    }
}

.hidden {
    display: none;
}
